.map {
  height: 80vh;
  background-color: white;
  /* padding: 1rem; */
  /* border-radius: 10px; */
  /* margin-top: 16px; */
  /* box-shadow: 0 0 80px -4px rgba(0, 0, 0, 0.5); */
}

.map .leaflet-container {
  width: 100%;
  height: 100vh;
}
